/*body {
    background-image: url("http://vignette4.wikia.nocookie.net/universe-of-smash-bros-lawl/images/0/0c/Aladdin-10.png/revision/latest?cb=20150606202010");
    background-repeat: repeat;
    background-position: center;
    background-attachment: fixed;
}

h2,p {
	color:#93111B;
}

.button{
	color:#600B35;
}